{% extends "base.html" %}
{% load staticfiles %}
{% load brackets_tags %}
{% block meta %}
    <meta http-equiv="cache-control" content="no-cache">
{% endblock %}
{% block title %}Bracket{% endblock %}

{% block bracket-nav %}class="active"{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'tournament/css/brackets.css' %}"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="page-header col-md-offset-2">
            <h1 id="bracket-name">{% if read_only %}{{ bracket.user.get_full_name }}'s Bracket: {% endif %}{{ bracket.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <h2>Group Stage</h2>
        </div>
                <div class="col-md-7">
            <h2 class="text-muted knockout-hidden" {% if not bracket|group_not_completed %}hidden{% endif %}>Make Group Stage selections before moving on to Knockout Stage.</h2>
        </div>
        <div class="col-md-1">
            <span class="fa fa-trophy fa-lg gold"></span><span class="text-muted"> Group Winner</span><br />
            <span class="fa fa-trophy silver"></span><span class="text-muted"> Runner Up</span>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary" id="reset">Reset <i class="fa fa-refresh"></i></button>
        </div>
    </div>
    <!--Groups-->
    <div id="group-div" class="row custom-row">
        {% for group in groups %}
            <div class="col-md-1 group">
                <table class="table">
                    <tr class="group-header">
                        <th colspan=2>Group {{ group|group_name }}</th>
                    </tr>
                    {% for country in group %}
                        <tr class="country {{ country|selected_class:bracket }}" data-country="{{ country.id }}">
                        <tr class="country {{ country|selected_class:bracket }} {% if country|selected_class:bracket == "warning" or country|selected_class:bracket == "success" %} bold{% elif country|selected_class:bracket == "active" %} text-muted{% endif %}" data-country="{{ country.id }}">
                            <td>{{ country.position }}</td>
                            <td><img src="{% static "img/blank.png" %}" class="flag flag-{{ country.name }}"></img> {{ country.name }} <span class="fa fa-trophy pull-right fa-lg gold{% if country|selected_class:bracket != "success" %} hide{% endif %}"></span><span class="fa fa-trophy pull-right silver{% if country|selected_class:bracket != "warning" %} hide{% endif %}"></span></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
    <div id="knockout-div" {% if bracket|group_not_completed %}hidden{% endif %}>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <h2>Knockout Stage</h2>
            </div>
        </div>
        <table class="bracket-table">
            <thead>
                <tr>
                    <th class="td-content">Round of 16</th>
                    <th class="td-bracket">&nbsp;</th>
                    <th class="td-bracket">&nbsp;</th>
                    <th class="td-content">Quarter-Finals</th>
                    <th class="td-bracket">&nbsp;</th>
                    <th class="td-bracket">&nbsp;</th>
                    <th class="td-content">Semi-Finals</th>
                    <th class="td-bracket">&nbsp;</th>
                    <th class="td-bracket">&nbsp;</th>
                    <th class="td-content">Final</th>
                    <th class="td-bracket">&nbsp;</th>
                    <th class="td-bracket">&nbsp;</th>
                    <th class="td-content">Winner</th>
    
                </tr>
            </thead>
            <tbody>
                <!--Row 1-->
                <tr>
                    <td class="td-content">
                        {% with matches|get_match:49 as match %}<div class="match" id="49-home" data-country="{{ match.home_team.id }}" data-default="Winner Group A"><div class="label{% if match.winner and match.winner == match.home_team %} label-success{% else %} label-default{% endif %} ">{% if match.home_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.home_team }}"></img> {% endif %}{{ match.home_team|default_if_none:"Winner Group A" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket bottom">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">
                        {% with matches|get_match:49 as match %}<div class=" match{% if match.winner and match.winner == match.away_team %} text-success{% endif %}" id="49-away" data-country="{{ match.away_team.id }}" data-default="Runner Up Group B"><div class="label{% if match.winner and match.winner == match.away_team %} label-success{% else %} label-default{% endif %}">{% if match.away_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.away_team }}"></img> {% endif %}{{ match.away_team|default_if_none:"Runner Up Group B" }}</div>{% endwith %}</div>    
                    </td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket bottom">&nbsp;</td>
                    <td class="td-content">
                        {% with matches|get_match:57 as match %}<div class=" match{% if match.winner and match.winner == match.home_team %} text-success{% endif %}" id="57-home" data-country="{{ match.home_team.id }}" data-default="Winner Match 49"><div class="label{% if match.winner and match.winner == match.home_team %} label-success{% else %} label-default{% endif %} ">{% if match.home_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.home_team }}"></img> {% endif %}{{ match.home_team|default_if_none:"Winner Match 49" }}</div>{% endwith %}</div>    
                    </td>
                    <td class="td-bracket bottom">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">
                        {% with matches|get_match:57 as match %}<div class=" match{% if match.winner and match.winner == match.away_team %} text-success{% endif %}" id="57-away" data-country="{{ match.away_team.id }}" data-default="Winner Match 50"><div class="label{% if match.winner and match.winner == match.away_team %} label-success{% else %} label-default{% endif %}">{% if match.away_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.away_team }}"></img> {% endif %}{{ match.away_team|default_if_none:"Winner Match 50" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">
                        {% with matches|get_match:50 as match %}<div class=" match{% if match.winner and match.winner == match.home_team %} text-success{% endif %}" id="50-home" data-country="{{ match.home_team.id }}" data-default="Winner Group C"><div class="label{% if match.winner and match.winner == match.home_team %} label-success{% else %} label-default{% endif %} ">{% if match.home_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.home_team }}"></img> {% endif %}{{ match.home_team|default_if_none:"Winner Group C" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket right bottom">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <!--BLANK ROWS-->
                <tr>
                    <td class="td-content">
                        {% with matches|get_match:50 as match %}<div class=" match{% if match.winner and match.winner == match.away_team %} text-success{% endif %}" id="50-away" data-country="{{ match.away_team.id }}" data-default="Runner Up Group D"><div class="label{% if match.winner and match.winner == match.away_team %} label-success{% else %} label-default{% endif %}">{% if match.away_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.away_team }}"></img> {% endif %}{{ match.away_team|default_if_none:"Runner Up Group D" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket bottom">&nbsp;</td>
                    <td class="td-content">
                        {% with matches|get_match:61 as match %}<div class="  match{% if match.winner and match.winner == match.home_team %} text-success{% endif %}" id="61-home" data-country="{{ match.home_team.id }}" data-default="Winner Match 57"><div class="label{% if match.winner and match.winner == match.home_team %} label-success{% else %} label-default{% endif %} ">{% if match.home_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.home_team }}"></img> {% endif %}{{ match.home_team|default_if_none:"Winner Match 57" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket bottom">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                
    <!--Row 2-->
                <tr>
                    <td class="td-content">
                        {% with matches|get_match:53 as match %}<div class=" match{% if match.winner and match.winner == match.home_team %} text-success{% endif %}" id="53-home" data-country="{{ match.home_team.id }}" data-default="Winner Group E"><div class="label{% if match.winner and match.winner == match.home_team %} label-success{% else %} label-default{% endif %} ">{% if match.home_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.home_team }}"></img> {% endif %}{{ match.home_team|default_if_none:"Winner Group E" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket bottom">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">
                        {% with matches|get_match:61 as match %}<div class="  match{% if match.winner and match.winner == match.away_team %} text-success{% endif %}" id="61-away" data-country="{{ match.away_team.id }}" data-default="Winner Match 58"><div class="label{% if match.winner and match.winner == match.away_team %} label-success{% else %} label-default{% endif %}">{% if match.away_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.away_team }}"></img> {% endif %}{{ match.away_team|default_if_none:"Winner Match 58" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">
                        {% with matches|get_match:53 as match %}<div class=" match{% if match.winner and match.winner == match.away_team %} text-success{% endif %}" id="53-away" data-country="{{ match.away_team.id }}" data-default="Runner Up Group F"><div class="label{% if match.winner and match.winner == match.away_team %} label-success{% else %} label-default{% endif %}">{% if match.away_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.away_team }}"></img> {% endif %}{{ match.away_team|default_if_none:"Runner Up Group F" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket bottom">&nbsp;</td>
                    <td class="td-content">
                        {% with matches|get_match:58 as match %}<div class="match{% if match.winner and match.winner == match.home_team %} text-success{% endif %}" id="58-home" data-country="{{ match.home_team.id }}" data-default="Winner Match 51"><div class="label{% if match.winner and match.winner == match.home_team %} label-success{% else %} label-default{% endif %} ">{% if match.home_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.home_team }}"></img> {% endif %}{{ match.home_team|default_if_none:"Winner Match 51" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket right bottom">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">
                        {% with matches|get_match:58 as match %}<div class=" match{% if match.winner and match.winner == match.away_team %} text-success{% endif %}" id="58-away" data-country="{{ match.away_team.id }}" data-default="Winner Match 52"><div class="label{% if match.winner and match.winner == match.away_team %} label-success{% else %} label-default{% endif %}">{% if match.away_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.away_team }}"></img> {% endif %}{{ match.away_team|default_if_none:"Winner Match 52" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">
                        {% with matches|get_match:54 as match %}<div class=" match{% if match.winner and match.winner == match.home_team %} text-success{% endif %}" id="54-home" data-country="{{ match.home_team.id }}" data-default="Winner Group G"><div class="label{% if match.winner and match.winner == match.home_team %} label-success{% else %} label-default{% endif %} ">{% if match.home_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.home_team }}"></img> {% endif %}{{ match.home_team|default_if_none:"Winner Group G" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket right bottom">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <!--BLANK ROWS-->
                <tr>
                    <td class="td-content">
                        {% with matches|get_match:54 as match %}<div class=" match{% if match.winner and match.winner == match.away_team %} text-success{% endif %}" id="54-away" data-country="{{ match.away_team.id }}" data-default="Runner Up Group H"><div class="label{% if match.winner and match.winner == match.away_team %} label-success{% else %} label-default{% endif %}">{% if match.away_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.away_team }}"></img> {% endif %}{{ match.away_team|default_if_none:"Runner Up Group H" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket bottom">&nbsp;</td>
                    <td class="td-content">
                        {% with matches|get_match:64 as match %}<div class="final match{% if match.winner and match.winner == match.home_team %} text-success{% endif %}" id="64-home" data-country="{{ match.home_team.id }}" data-name="{{ match.home_team.name }}" data-default="Winner Match 61"><div class="final-match label{% if match.winner and match.winner == match.home_team %} label-success{% else %} label-default{% endif %} " data-name="{{ match.home_team.name }}">{% if match.home_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.home_team }}"></img> {% endif %}{{ match.home_team|default_if_none:"Winner Match 61" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket bottom">&nbsp;</td>
                    <td class="td-bracket bottom">&nbsp;</td>
                    <td rowspan="2" class="td-content">
                        {% with matches|get_match:64 as match %}<div class="" id="65-home" data-country="{% if match.winner and match.winner == match.home_team %}{{ match.home_team.id }}{% elif match.winner and match.winner == match.away_team %}{{ match.away_team.id }}{% endif %}" data-default="Winner Match 65"><div class="winner{% if match.winner and match.winner == match.home_team or match.winner == match.away_team %} label-success{% else %} label-default{% endif %} ">{% if match.winner and match.winner == match.home_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.home_team }}"></img> {{ match.home_team|default_if_none:"Winner" }}</div>{% elif match.winner and match.winner == match.away_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.away_team }}"></img> {{ match.away_team|default_if_none:"Winner" }}</div>{% else %}Winner{% endif %}{% endwith %}</div>
                    </td>
                </tr>
                
    <!--Row 3-->
                <tr>
                    <td class="td-content">
                        {% with matches|get_match:51 as match %}<div class=" match{% if match.winner and match.winner == match.home_team %} text-success{% endif %}" id="51-home" data-country="{{ match.home_team.id }}" data-default="Winner Group B"><div class="label{% if match.winner and match.winner == match.home_team %} label-success{% else %} label-default{% endif %} ">{% if match.home_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.home_team }}"></img> {% endif %}{{ match.home_team|default_if_none:"Winner Group B" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket bottom">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">
                        {% with matches|get_match:64 as match %}<div class="final match{% if match.winner and match.winner == match.away_team %} text-success{% endif %}" id="64-away" data-country="{{ match.away_team.id }}" data-name="{{ match.away_team.name }}" data-default="Winner Match 62"><div class="final-match label{% if match.winner and match.winner == match.away_team %} label-success{% else %} label-default{% endif %}" data-name="{{ match.away_team.name }}">{% if match.away_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.away_team }}"></img> {% endif %}{{ match.away_team|default_if_none:"Winner Match 62" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">
                        {% with matches|get_match:51 as match %}<div class=" match{% if match.winner and match.winner == match.away_team %} text-success{% endif %}" id="51-away" data-country="{{ match.away_team.id }}" data-default="Runner Up Group A"><div class="label{% if match.winner and match.winner == match.away_team %} label-success{% else %} label-default{% endif %}">{% if match.away_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.away_team }}"></img> {% endif %}{{ match.away_team|default_if_none:"Runner Up Group A" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket bottom">&nbsp;</td>
                    <td class="td-content">
                        {% with matches|get_match:59 as match %}<div class=" match{% if match.winner and match.winner == match.home_team %} text-success{% endif %}" id="59-home" data-country="{{ match.home_team.id }}" data-default="Winner Match 53"><div class="label{% if match.winner and match.winner == match.home_team %} label-success{% else %} label-default{% endif %} ">{% if match.home_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.home_team }}"></img> {% endif %}{{ match.home_team|default_if_none:"Winner Match 53" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket bottom">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">
                        {% with matches|get_match:59 as match %}<div class=" match{% if match.winner and match.winner == match.away_team %} text-success{% endif %}" id="59-away" data-country="{{ match.away_team.id }}" data-default="Winner Match 54"><div class="label{% if match.winner and match.winner == match.away_team %} label-success{% else %} label-default{% endif %}">{% if match.away_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.away_team }}"></img> {% endif %}{{ match.away_team|default_if_none:"Winner Match 54" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">
                        {% with matches|get_match:52 as match %}<div class=" match{% if match.winner and match.winner and match.winner == match.home_team %} text-success{% endif %}" id="52-home" data-country="{{ match.home_team.id }}" data-default="Winner Group D"><div class="label{% if match.winner and match.winner == match.home_team %} label-success{% else %} label-default{% endif %} ">{% if match.home_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.home_team }}"></img> {% endif %}{{ match.home_team|default_if_none:"Winner Group D" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket right bottom">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <!--BLANK ROWS-->
                <tr>
                    <td class="td-content">
                        {% with matches|get_match:52 as match %}<div class=" match{% if match.winner and match.winner == match.away_team %} text-success{% endif %}" id="52-away" data-country="{{ match.away_team.id }}" data-default="Runner Up Group C"><div class="label{% if match.winner and match.winner == match.away_team %} label-success{% else %} label-default{% endif %}">{% if match.away_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.away_team }}"></img> {% endif %}{{ match.away_team|default_if_none:"Runner Up Group C" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket bottom">&nbsp;</td>
                    <td class="td-content">
                        {% with matches|get_match:62 as match %}<div class="  match{% if match.winner and match.winner == match.home_team %} text-success{% endif %}" id="62-home" data-country="{{ match.home_team.id }}" data-default="Winner Match 59"><div class="label{% if match.winner and match.winner == match.home_team %} label-success{% else %} label-default{% endif %} ">{% if match.home_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.home_team }}"></img> {% endif %}{{ match.home_team|default_if_none:"Winner Match 59" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket right bottom">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                
                <!--Row 4-->
                <tr>
                    <td class="td-content">
                        {% with matches|get_match:55 as match %}<div class=" match{% if match.winner and match.winner == match.home_team %} text-success{% endif %}" id="55-home" data-country="{{ match.home_team.id }}" data-default="Winner Group F"><div class="label{% if match.winner and match.winner == match.home_team %} label-success{% else %} label-default{% endif %} ">{% if match.home_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.home_team }}"></img> {% endif %}{{ match.home_team|default_if_none:"Winner Group F" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket bottom">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">
                        {% with matches|get_match:62 as match %}<div class="  match{% if match.winner and match.winner == match.away_team %} text-success{% endif %}" id="62-away" data-country="{{ match.away_team.id }}" data-default="Winner Match 60"><div class="label{% if match.winner and match.winner == match.away_team %} label-success{% else %} label-default{% endif %}">{% if match.away_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.away_team }}"></img> {% endif %}{{ match.away_team|default_if_none:"Winner Match 60" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">
                        {% with matches|get_match:55 as match %}<div class=" match{% if match.winner and match.winner == match.away_team %} text-success{% endif %}" id="55-away" data-country="{{ match.away_team.id }}" data-default="Runner Up Group E"><div class="label{% if match.winner and match.winner == match.away_team %} label-success{% else %} label-default{% endif %}">{% if match.away_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.away_team }}"></img> {% endif %}{{ match.away_team|default_if_none:"Runner Up Group E" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket bottom">&nbsp;</td>
                    <td class="td-content">
                        {% with matches|get_match:60 as match %}<div class=" match{% if match.winner and match.winner == match.home_team %} text-success{% endif %}" id="60-home" data-country="{{ match.home_team.id }}" data-default="Winner Match 55"><div class="label{% if match.winner and match.winner == match.home_team %} label-success{% else %} label-default{% endif %} ">{% if match.home_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.home_team }}"></img> {% endif %}{{ match.home_team|default_if_none:"Winner Match 55" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket right bottom">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket right">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">
                        {% with matches|get_match:60 as match %}<div class=" match{% if match.winner and match.winner == match.away_team %} text-success{% endif %}" id="60-away" data-country="{{ match.away_team.id }}" data-default="Winner Match 56"><div class="label{% if match.winner and match.winner == match.away_team %} label-success{% else %} label-default{% endif %}">{% if match.away_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.away_team }}"></img> {% endif %}{{ match.away_team|default_if_none:"Winner Match 56" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">
                        {% with matches|get_match:56 as match %}<div class=" match{% if match.winner and match.winner == match.home_team %} text-success{% endif %}" id="56-home" data-country="{{ match.home_team.id }}" data-default="Winner Group H"><div class="label{% if match.winner and match.winner == match.home_team %} label-success{% else %} label-default{% endif %} ">{% if match.home_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.home_team }}"></img> {% endif %}{{ match.home_team|default_if_none:"Winner Group H" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket right bottom">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <!--BLANK ROWS-->
                <tr>
                    <td class="td-content">
                        {% with matches|get_match:56 as match %}<div class=" match{% if match.winner and match.winner == match.away_team %} text-success{% endif %}" id="56-away" data-country="{{ match.away_team.id }}" data-default="Runner Up Group G"><div class="label{% if match.winner and match.winner == match.away_team %} label-success{% else %} label-default{% endif %}">{% if match.away_team %}<img src="{% static "img/blank.png" %}" class="flag flag-{{ match.away_team }}"></img> {% endif %}{{ match.away_team|default_if_none:"Runner Up Group G" }}</div>{% endwith %}</div>
                    </td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
                <tr>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-bracket">&nbsp;</td>
                    <td class="td-content">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}
    {% if not read_only %}
        <script src="{% static "tournament/js/brackets.js" %}"></script>
    {% endif %}
{% endblock %}