{% extends "base.html" %}

{% load brackets_tags %}
{% load staticfiles %}
{% block title %}{{ group.name }}{% endblock %}

{% block groups-nav %}class="active"{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="col-md-offset-1 col-md-2 well">
        <ul class="nav nav-pills nav-stacked">
                <li><a href="#" data-toggle="modal" data-target="#inviteModal"><i class="fa fa-plus-circle text-success"></i> Invite Friends</a></li>
                <li><a href="#" data-toggle="modal" data-target="#joinModal"><i class="fa fa-sitemap" style="color: black;"></i> Change Bracket</a></li>
                <li><a href="#" class="reply-all" data-group="{{ group.id }}"><i class="fa fa-envelope"></i> Message Group</a></li>
                <li><a href="#" id="leave" data-group="{{ group.id }}"><i class="fa fa-ban text-danger"></i> Leave Group</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <div class="page-header">
            <h1><span id="groupName">{{ group.name }}</span></h1>{% if group.password %}Private{% endif %}
        </div>
        <div class="row">
            <div class="col-sm-1">
                <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="Join my #WorldCup Predictions group and see if you can predict the World Cup best! {{ group|get_group_url }}">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
        {% if not user_in_group %}
            <div class="row">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#joinModal">Join Group</button>
            </div>
        {% endif %}
        <h2>Brackets</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Bracket</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for bracket in group.brackets.all %}
                    <tr>
                        <td>{% if bracket.user.first_name %}{{ bracket.user.get_full_name }}{% else %}{{ bracket.user.username }}{% endif %}</td>
                        <td><a href="{% url "tournament.views.brackets" %}?user={{ bracket.user.username }}&bracket-name={{ bracket.name|urlencode }}">{{ bracket.name }}</a></td>
                        <td>{{ bracket|score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- Join Modal -->
    <div class="modal fade" id="joinModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="joinForm" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="joinLabel">Choose Bracket</h4>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ bracket_form.as_table }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <!-- Invite Modal -->
    <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="inviteForm" class="form-inline" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="inviteLabel">Invite Friends</h4>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <div id="emailFormGroup" class="form-group col-md-11">
                            <label for="inviteInput" class="sr-only">Enter Emails or Usernames</label>
                            <input type="text" id="inviteInput" class="form-control" placeholder="Enter Email or Username"/>
                        </div>
                        <button type="button" class="btn btn-primary" id="add"><i class="fa fa-plus"></i></button>
                        <strong>Message Being Sent To:</strong>
                        <ul id="inviteList"></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Send</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
{% endblock %}

{% block javascript %}
    <script src="{% static "tournament/js/group_page.js" %}"></script>
{% endblock %}