{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Groups{% endblock %}

{% block groups-nav %}class="active"{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Groups</h1>
            <p>Groups are a way to compare your bracket against others.  You can join a group by clicking on a group listed under Public Groups or check in on how your bracket is doing on groups you've already joined by clicking them under the My Groups section.</p>
        <p>If you'd like to create your own group just give it a name, select the bracket you want to use to compete in the group, and to make it private give it a password.  Want anyone to join?  Don't put in a password and hit Submit!</p>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-2 well">
        <h1>New Group</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_table }}<br/>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
    <div class="col-md-4">
        <div class="page-header">
            <h1>My Groups</h1>
        </div>
        <ul class="nav nav-pills nav-stacked bracket-list">
            {% for group in groups %}
                <li><a href="{% url "tournament.views.groups" group.name %}"><span class="fa fa-group"></span> {{ group.name }} <span class="text-muted">({{ group.brackets.all.count }} Bracket{% if group.brackets.all.count > 1 %}s{% endif %})</span></a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <div class="page-header">
            <h1>Public Groups</h1>
        </div>
        <ul class="nav nav-pills nav-stacked bracket-list">
            {% for group in public_groups %}
                <li><a href="{% url "tournament.views.groups" group.name %}"><span class="fa fa-group"></span> {{ group.name }} <span class="text-muted">({{ group.brackets.all.count }} Bracket{% if group.brackets.all.count > 1 %}s{% endif %})</span></a></li>
            {% endfor %}
        </ul>
    </div>
    
    
{% endblock %}

{% block javascript %}
{% endblock %}