{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Brackets{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'tournament/css/brackets_index.css' %}"/>
{% endblock %}

{% block content %}
    <div class="col-md-offset-3 col-md-6">
        <div class="page-header">
            <h1>New Bracket</h1>
        </div>
        <form method="POST">
            {% csrf_token %}
            <label for="name">Bracket Name</label>
            <input id="name" type="text" class="form-control" name="name"/>
            <button type="submit" class="btn btn-success">Create Bracket</button>
        </form>
    </div>
    
{% endblock %}

{% block javascript %}
{% endblock %}