{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Welcome{% endblock %}

{% block home-nav %}class="active"{% endblock %}

{% block content %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static "img/world-cup-soccer.jpg" %}" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" style="height: auto; width: 100%; display: block;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Make Your Predictions</h1>
              <p>How well can you predict the 2014 World Cup?  Make your guesses and compete with others to see who knows best.</p>
              {% if user.is_authenticated %}
                  <p><a class="btn btn-sm btn-primary" href="{% url "tournament.views.brackets" %}">Create Bracket</a></p>
              {% else %}
                  <p><a class="btn btn-sm btn-primary" href="{% url "user_management.views.create_user" %}">Sign up today</a></p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% static "img/github_50.png" %}" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide" alt="Second slide" style="height: auto; width: 100%; display: block;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Make Your Voice Heard</h1>
              <p>This site is completely open source.  That means you can directly influence the features and layout of the site.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">

      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-6">
            <h2>World Cup Tweets</h2>
            <p class="text-center">
                  <a class="twitter-timeline" href="https://twitter.com/search?q=%23worldcup" data-widget-id="418769705218752512">Tweets about "#worldcup"</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            </p>
        </div>

            <div class="col-lg-5 col-sm-6 col-xs-12">
                  <h2>World Cup Instagram</h2>
                  <p>
                        <div id="instafeed"></div>
                  </p>
            </div>
      </div>
    </div>

{% endblock %}

{% block javascript %}
      <script type="text/javascript">
            var feed = new Instafeed({
                get: 'tagged',
                tagName: 'worldcup',
                clientId: '40ce76096dab4406aa512558ec936435',
                limit: 12
            });
            feed.run();
      </script>
{% endblock %}
