{% extends "base.html" %}
{% load staticfiles %}
{% load messages_tags %}
{% block title %}Messages{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    {% if message %}
        <div class="col-md-offset-3 col-md-6">
            {% for message in message|get_reply_messages %}
                <div class="well">
                    <h3>{{ message.subject }}</h3>
                    <small class="text-muted">{{ message.sent_by }} {{ message.date_sent }}</small>
                    <p>
                        {{ message.message }}
                    </p>
                </div>
            {% endfor %}
            <div class="well">
                <div class="row">
                    <button type="button" class="btn btn-primary reply" data-message="{{ message.id }}"><i class="fa fa-mail-reply"></i></button>
                    {% if message.group %}
                        <button type="button" class="btn btn-primary reply-all" data-message="{{ message.id }}"><i class="fa fa-mail-reply-all"></i></button>
                    {% endif %}
                    <button type="button" class="btn btn-danger delete-message" data-message="{{ message.id }}"><i class="fa fa-trash-o"></i></button>
                </div>
                <h3>{{ message.subject }}</h3>
                <small class="text-muted">{{ message.sent_by }} {{ message.date_sent }}</small>
                <p>
                    {{ message.message }}
                </p>
            </div>
        </div>
    {% else %}
        <div class="col-md-offset-1 col-md-10">
            <div class="page-header">
                <h1>Messages</h1>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary new-message"><i class="fa fa-edit"></i></button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Sender</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Received</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% with user|get_messages as messages %}
                        {% if messages %}
                            {% for message in messages %}
                                <tr>
                                    <td>{{ message.sent_by }}</td>
                                    <td>{{ message.subject }}</td>
                                    <td><a href="{% url "user_management.views.messages" %}?id={{ message.id }}">{{ message.message|cut:"150" }}</a></td>
                                    <td>{{ message.date_sent }}</td>
                                    <td>
                                        <button type="button" class="btn btn-xs btn-primary reply" data-message="{{ message.id }}"><i class="fa fa-mail-reply"></i></button>
                                        {% if message.group %}
                                            <button type="button" class="btn btn-xs btn-primary reply-all" data-message="{{ message.id }}"><i class="fa fa-mail-reply-all"></i></button>
                                        {% endif %}
                                        <button type="button" class="btn btn-xs btn-danger delete-message" data-message="{{ message.id }}"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan=6><div class="text-center"><h4>No messages.</h4></div></td>
                            </tr>
                        {% endif %}
                    {% endwith %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
{% endblock %}